alembic==0.8.10
amqp==5.1.1
aniso8601==9.0.1
apache-libcloud==3.6.0
apispec==0.20.0
appdirs==1.4.4
arrow==0.8.0
async-timeout==4.0.2
attrs==22.1.0
autopage==0.5.1
autopep8==1.7.0
Babel==2.11.0
bcrypt==3.1.3
bidict==0.22.0
billiard==3.6.4.0
bitmath==1.3.3.1
boto3==1.26.139
botocore==1.29.139
celery==5.2.7
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cliff==4.1.0
cmd2==2.4.2
colorlog==6.6.0
cryptography==37.0.4
debtcollector==2.5.0
decorator==5.1.1
Deprecated==1.2.13
dnspython==2.2.1
docker==5.0.3
dogpile.cache==1.1.8
f5-icontrol-rest==1.3.13
f5-sdk==3.0.21
Flask==1.0.2
Flask-Cors==3.0.2
Flask-Login==0.4.0
flask-marshmallow==0.7.0
Flask-OAuthlib==0.9.5
Flask-PyMongo==2.3.0
flask-restplus==0.10.1
Flask-SQLAlchemy==2.2
hcpsdk==0.9.4.post12
httplib2==0.20.2
idna==3.3
importlib-metadata==5.1.0
invoke==1.7.1
iso8601==1.0.2
itsdangerous==2.0.1
Jinja2==3.0.0
jmespath==1.0.1
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.9.1
keystoneauth1==5.0.0
kombu==5.2.4
lockfile==0.12.2
Mako==1.2.1
MarkupSafe==2.0.1
marshmallow==2.15.2
marshmallow-sqlalchemy==0.12.0
minio==7.1.8
msgpack==1.0.4
munch==2.5.0
netaddr==0.8.0
netifaces==0.11.0
oauth2client==4.1.3
oauthlib==2.1.0
openstacksdk==0.100.0
os-client-config==2.1.0
os-service-types==1.7.0
osc-lib==2.6.2
oslo.config==9.0.0
oslo.context==5.0.0
oslo.i18n==5.1.0
oslo.log==5.0.2
oslo.serialization==5.0.0
oslo.utils==6.0.0
packaging==21.3
passlib==1.7.1
pbr==5.9.0
pdfkit==1.0.0
permission==0.4.1
prettytable==3.3.0
prompt-toolkit==3.0.30
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
# pycurl==7.43.0.6
pymongo==4.2.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyperclip==1.8.2
pyrsistent==0.18.1
python-barbicanclient==5.4.0
python-cinderclient==9.1.0
python-dateutil==2.8.2
python-editor==1.0.4
python-engineio==4.3.3
python-heatclient==3.1.0
python-keystoneclient==5.0.1
python-neutronclient==8.2.0
python-novaclient==18.0.0
python-octaviaclient==3.2.0
python-openstackclient==6.0.0
python-socketio==5.7.1
python-swiftclient==4.1.0
pytz==2022.1
PyYAML==6.0
redis==4.3.4
requests==2.28.1
requests-oauthlib==1.1.0
requestsexceptions==1.4.0
retrying==1.3.3
rfc3986==2.0.0
rgwadmin==2.4.2
rsa==4.9
shade==1.33.0
simplejson==3.18.0
six==1.16.0
socketIO-client==0.7.2
SQLAlchemy==1.1.5
SQLAlchemy-Utils==0.32.12
stevedore==4.0.0
toml==0.10.2
urllib3==1.26.11
vine==5.0.0
wcwidth==0.2.5
webargs==5.2.0
websocket-client==1.3.3
Werkzeug==0.14.1
wrapt==1.14.1
zipp==3.11.0